h3{
    color:grey;
}
h1{
    color:blue;
}
h2{
    color:green;
}

a:hover{
  color:lightpink;
}

body{
    background-color: pink;
}

.introduction{
    border : 4px solid black;
    display: inline-block;
}

.photos{
    border : 4px solid lightpink;
    display: inline-block;
}